<div class="item"
     id="{{detailItemCtrl.item.uuid}}"
     ng-mouseenter="detailItemCtrl.toggleShowPrint()"
     ng-mouseleave="detailItemCtrl.toggleShowPrint()"
     ng-click="detailItemCtrl.onClick($event)"
     ng-class="{'_expired': detailItemCtrl.expired, '_opened': detailItemCtrl.isOpened, '_print': detailItemCtrl.print}">

    <div class="item__col">
        <div class="item__col-text">{{detailItemCtrl.item.name}}</div>
    </div>
    <div class="item__col">
        <div class="item__col-text">{{detailItemCtrl.item.description}}</div>
    </div>
    <div class="item__col">
        <div class="item__col-text">{{detailItemCtrl.item.expirationDate | date}}</div>
    </div>
</div>

<div class="item__detailed" ng-if="detailItemCtrl.isOpened" id="{{detailItemCtrl.item.uuid + '-table'}}">
    <detail-accessories detail="detailItemCtrl.item"></detail-accessories>
    <detail-contracts detail="detailItemCtrl.item"></detail-contracts>
</div>