<div class="ui container segment" ng-controller="AddContractDialogController as ctrl">

    <form class="ui form">
        <div class="required field">
            <label>Номер договора</label>
            <input type="text" ng-model="ctrl.contract.number">
        </div>

        <div class="required field">
            <label>От даты</label>
            <input type="date" ng-model="ctrl.contract.fromDate">
        </div>

        <div class="required field">
            <label>Заказчик</label>
            <input type="text" ng-model="ctrl.contract.customer">
        </div>

        <div class="required field">
            <label>Количество</label>
            <input type="number" min="1" step="1" ng-model="ctrl.contract.amount" value="1">
        </div>

        <div class="required field">
            <label>Срок исполнения</label>
            <input type="date" ng-model="ctrl.contract.expirationDate">
        </div>

        <div class="fields" ng-repeat="item in ctrl.items">
            <div class="field">
                <label>Выберите виброизолятор</label>
                <select class="ui dropdown" ng-model="item.damperUuid">
                    <option value="">виброизолятор</option>
                    <option value="{{damper.uuid}}" ng-repeat="damper in ctrl.dampers">{{damper.name}}</option>
                </select>
            </div>
            <div class="field">
                <label>Количество</label>
                <input type="number" ng-model="item.amount">
            </div>
            <div class="field">
                <label>Срок исполнения</label>
                <input type="date" ng-model="item.expirationDate">
            </div>
            <div class="field">
                <label>Принято штук</label>
                <input type="number" ng-model="item.accepted">
            </div>
            <div class="field">
                <label>Удалить</label>
                <div class="ui red button" ng-click="ctrl.removeItem($index)">Х</div>
            </div>
        </div>

        <div class="field">
            <div class="ui teal button" ng-click="ctrl.newItem()">Добавить виброизолятор</div>
        </div>
        <div class="ui deny black button" ng-click="ctrl.onCancel()">
            Отмена
        </div>

        <div class="ui positive right labeled icon button" ng-click="ctrl.onSave()">
            Сохранить
            <i class="checkmark icon"></i>
        </div>

        <div class="ui red button" ng-if="ctrl.update" ng-click="ctrl.onDelete()">
            Удалить
        </div>
    </form>
</div>