<div class="ui container segment" ng-controller="AddContractDialogController as ctrl">

    <form class="ui form">
        <div class="required field">
            <label>Номер договора</label>
            <input type="text" ng-model="ctrl.contract.number">
        </div>

        <div class="required field">
            <label>От даты</label>
            <input type="date" ng-model="ctrl.contract.fromDate">
        </div>

        <div class="required field">
            <label>Заказчик</label>
            <input type="text" ng-model="ctrl.contract.customer">
        </div>

        <div class="required field">
            <label>Количество</label>
            <input type="number" min="1" step="1" ng-model="ctrl.contract.amount" value="1">
        </div>

        <div class="required field">
            <label>Квартал</label>
            <input type="number" min="1" max="4" step="1" ng-model="ctrl.contract.quoter" value="1">
        </div>

        <div class="required field">
            <label>Год</label>
            <input type="number" min="2000" step="1" ng-model="ctrl.contract.year">
        </div>

        <div class="field">
            <label>Авансирование</label>
            <input type="text" ng-model="ctrl.contract.prepaidNote">
        </div>

        <div class="field" ng-if="ctrl.update">
            <div class="ui checkbox">
                <input type="checkbox" ng-model="ctrl.contract.done">
                <label>Выполнен</label>
            </div>
        </div>

        <div class="ui deny black button" ng-click="ctrl.onCancel()">
            Отмена
        </div>

        <div class="ui positive right labeled icon button" ng-click="ctrl.onSave()">
            Сохранить
            <i class="checkmark icon"></i>
        </div>

        <div class="ui red button" ng-if="ctrl.update" ng-click="ctrl.onDelete()">
            Удалить
        </div>
    </form>
</div>