<div class="ui large breadcrumb">
    <a class="section" ui-sref="dampers">Виброизоляторы</a>
    <i class="right chevron icon divider"></i>
    <div class="active section">{{ctrl.damper.name}}</div>
</div>

<div class="ui segment">

    <form class="ui form">

        <div class="field">
            <label>Наименование, обозначение</label>
            <input type="text" ng-model="ctrl.damper.name">
        </div>

        <div class="field">
            <label>Обозначение КД</label>
            <input type="text" ng-model="ctrl.damper.designation">
        </div>

        <div class="field">
            <label>Договор</label>
            <textarea rows="2" ng-model="ctrl.damper.contract"></textarea>
        </div>

        <div class="field">
            <label>Дата истечения срока действия ПИ</label>
            <input type="date" ng-model="ctrl.damper.expirationDate">
        </div>

        <div class="field">
            <label>Состав контролируемых параметров изделий</label>
            <textarea rows="2" ng-model="ctrl.damper.inspectionMethods"></textarea>
        </div>

        <div class="field">
            <label>Указания о маркировке изделий по результатам входного контроля</label>
            <textarea rows="2" ng-model="ctrl.damper.fiatLabeling"></textarea>
        </div>

        <div class="field">
            <label>Вид контроля, объем выборки, контрольные нормативы и правила выборочного контроля</label>
            <textarea rows="2" ng-model="ctrl.damper.controlType"></textarea>
        </div>

        <div class="field">
            <label>Средства измерений необходимые для контроля параметров изделий</label>
            <textarea rows="2" ng-model="ctrl.damper.measurementMeans"></textarea>
        </div>

        <div class="field">
            <label>Гарантийный срок хранения</label>
            <input type="text" ng-model="ctrl.damper.guarantee">
        </div>

        <div class="field">
            <label>Примечание</label>
            <textarea rows="2" ng-model="ctrl.damper.note"></textarea>
        </div>

        <div class="field">
            <label>Предприятие-изготовитель</label>
            <textarea rows="2" ng-model="ctrl.damper.vendor"></textarea>
        </div>

        <div class="field">
            <label>Предприятие, являющееся головным</label>
            <textarea rows="2" ng-model="ctrl.damper.head"></textarea>
        </div>

        <div class="fields">
            <div class="field">
                <div class="ui positive right labeled icon button" ng-click="ctrl.onUpdate()">
                    Обновить
                    <i class="checkmark icon"></i>
                </div>
            </div>

            <div class="field">
                <div class="ui red button" ng-click="ctrl.onDelete()">
                    Удалить
                </div>
            </div>
        </div>
    </form>
</div>

<files object="ctrl.damper"></files>

<div class="ui divider"></div>

<div class="ui form">
    <div class="fields">
        <div class="fourteen wide field">
            <div class="ui huge header">Договоры</div>
        </div>

        <div class="two wide field">

            <button class="ui labeled icon positive mini button"
                    ng-click="ctrl.addContract('createContractModal');">
                <i class="plus icon"></i>
                Добавить
            </button>

        </div>
    </div>
</div>

<div class="ui form">
    <div class="fields">
        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" ng-click="ctrl.toggleDone()">
                <label>Скрыть выполненные</label>
            </div>
        </div>
    </div>
</div>

<table class="ui selectable striped celled table">

    <thead>
    <tr>
        <th>#</th>
        <th>Номер</th>
        <th>От</th>
        <th>Заказчик</th>
        <th>Кол-во</th>
        <th>Квартал</th>
        <th>Год</th>
        <th>Авансирование</th>
        <th>Выполнен</th>
        <th>Отметка</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="contract in ctrl.damper.contracts | filter: ctrl.filterContract track by $index"
        ng-click="ctrl.updateContract(contract, 'createContractModal');">
        <td>{{$index + 1}}</td>
        <td>{{contract.number}}</td>
        <td>{{contract.fromDate | date : 'dd-MM-yyyy'}}</td>
        <td>{{contract.customer}}</td>
        <td>{{contract.amount}}</td>
        <td>{{contract.quoter}}</td>
        <td>{{contract.year}}</td>
        <td>{{contract.prepaidNote}}</td>
        <td>{{contract.done ? 'Да' : 'Нет'}}</td>
        <td>
            <a class="ui {{ctrl.nf.getBadgeType(contract)}} label">
                {{ctrl.nf.getBadgeText(contract)}}
            </a>
        </td>
    </tr>
    </tbody>
</table>

<div class="ui modal" id="createContractModal">
    <i class="close icon"></i>
    <div class="header">
        Договор
    </div>

    <div class="content">
        <form class="ui form">
            <div class="required field">
                <label>Номер договора</label>
                <input type="text" ng-model="ctrl.currentContract.number">
            </div>

            <div class="required field">
                <label>От даты</label>
                <input type="date" ng-model="ctrl.currentContract.fromDate">
            </div>

            <div class="required field">
                <label>Заказчик</label>
                <input type="text" ng-model="ctrl.currentContract.customer">
            </div>

            <div class="required field">
                <label>Количество</label>
                <input type="number" min="1" step="1" ng-model="ctrl.currentContract.amount" value="1">
            </div>

            <div class="required field">
                <label>Квартал</label>
                <input type="number" min="1" max="4" step="1" ng-model="ctrl.currentContract.quoter" value="1">
            </div>

            <div class="required field">
                <label>Год</label>
                <input type="number" min="2000" step="1" ng-model="ctrl.currentContract.year">
            </div>

            <div class="field">
                <label>Авансирование</label>
                <input type="text" ng-model="ctrl.currentContract.prepaidNote">
            </div>

            <div class="field" ng-if="ctrl.update">
                <div class="ui checkbox">
                    <input type="checkbox" ng-model="ctrl.currentContract.done">
                    <label>Выполнен</label>
                </div>
            </div>

        </form>
    </div>

    <div class="actions">
        <div class="ui red button" ng-if="ctrl.update" ng-click="ctrl.deleteContract()">
            Удалить
        </div>

        <div class="ui deny black button" ng-if="!ctrl.update">
            Отмена
        </div>

        <div class="ui positive right labeled icon button" ng-click="ctrl.saveContract()">
            Сохранить
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

<!--Комплектующие-->
<div class="ui divider"></div>

<div class="ui form">
    <div class="fields">
        <div class="fourteen wide field">
            <div class="ui huge header">Комплектующие</div>
        </div>

        <div class="two wide field">

            <button class="ui labeled icon positive mini button"
                    ng-click="ctrl.addAccessory('createAccessoryModal', 'component');">
                <i class="plus icon"></i>
                Добавить
            </button>

        </div>
    </div>
</div>

<table class="ui selectable striped celled table">
    <thead>
        <tr>
            <th>#</th>
            <th>Наименование, обозначение</th>
            <th>Обозначение КД, ТД и ТУ</th>
        </tr>
    </thead>

    <tbody>
    <tr ng-repeat="accessory in ctrl.damper.accessories | filter: { type: 'component' }"
        ng-click="ctrl.updateAccessory(accessory, 'createAccessoryModal');">
        <td>{{$index + 1}}</td>
        <td>{{accessory.name}}</td>
        <td>{{accessory.designation}}</td>
    </tr>
    </tbody>
</table>


<!--Расходные материалы-->
<div class="ui divider"></div>

<div class="ui form">
    <div class="fields">
        <div class="fourteen wide field">
            <div class="ui huge header">Расходные материалы</div>
        </div>

        <div class="two wide field">

            <button class="ui labeled icon positive mini button"
                    ng-click="ctrl.addAccessory('createAccessoryModal', 'material');">
                <i class="plus icon"></i>
                Добавить
            </button>

        </div>
    </div>
</div>

<table class="ui selectable striped celled table">
    <thead>
    <tr>
        <th>#</th>
        <th>Наименование, обозначение</th>
        <th>Обозначение КД, ТД и ТУ</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="accessory in ctrl.damper.accessories | filter: { type: 'material' }"
        ng-click="ctrl.updateAccessory(accessory, 'createAccessoryModal');">
        <td>{{$index + 1}}</td>
        <td>{{accessory.name}}</td>
        <td>{{accessory.designation}}</td>
    </tr>
    </tbody>
</table>

<div class="ui modal" id="createAccessoryModal">
    <i class="close icon"></i>
    <div class="header">
        {{ctrl.accessoryTypes[ctrl.currentAccessory.type]}}
    </div>

    <div class="content">
        <form class="ui form">
            <div class="required field">
                <label>Наименование</label>
                <input type="text" ng-model="ctrl.currentAccessory.name">
            </div>

            <div class="required field">
                <label>Обозначение основных КД, ТД, стандартов и ТУ</label>
                <input type="text" ng-model="ctrl.currentAccessory.designation">
            </div>
        </form>
    </div>

    <div class="actions">
        <div class="ui red button" ng-if="ctrl.update" ng-click="ctrl.deleteAccessory()">
            Удалить
        </div>

        <div class="ui deny black button" ng-if="!ctrl.update">
            Отмена
        </div>

        <div class="ui positive right labeled icon button" ng-click="ctrl.saveAccessory()">
            Сохранить
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

<div class="ui divider"></div>