<div class="ui segment">
    <h3>{{ctrl.files.length == 0 ? 'Документов нет' : 'Документы: '}}</h3>

    <table class="ui celled selectable stripped table" ng-if="ctrl.files.length">
        <tbody>
            <tr ng-repeat="file in ctrl.files">
                <td>{{file.name}}</td>
                <td class="collapsing">
                    <a class="ui teal  circular label">
                    {{file.extension}}
                </a>
                </td>
                <td class="collapsing">
                    <button class="positive ui button" ng-click="ctrl.onOpen(file); $event.preventDefault();">Просмотреть
                </button>
                </td>
                <td class="collapsing">
                    <button class="negative ui button" ng-click="ctrl.onDelete(file); $event.preventDefault();">Удалить
                </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="ui divider"></div>

    <button type="button" class="ui primary button" ng-click="ctrl.onAdd()">Добавить файл</button>

</div>