<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" ng-class="{'active': mainHeaderCtrl.inState(['notifications'])}" ui-sref="notifications">Уведомления ({{mainHeaderCtrl.storage.notifications.length}})</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" ng-class="{'active': mainHeaderCtrl.inState(['calendar'])}" ui-sref="calendar">Календарь</a>
            </li>

            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle cursor-pointer"
                      ng-class="{'active': mainHeaderCtrl.inState(['dampers', 'test-equipments', 'university'])}"
                      id="dropdown01"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false">
                    Самарский университет
                </span>

                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#" ui-sref="dampers">Виброизоляторы</a>
                    <a class="dropdown-item" href="#" ui-sref="test-equipments({vendor: 'university'})">Испытательное оборудование</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle cursor-pointer"
                      ng-class="{'active': mainHeaderCtrl.inState(['research-details', 'test-equipments', 'progress'])}"
                      id="dropdown02"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false">АО РКЦ Прогресс</span>

                <div class="dropdown-menu" aria-labelledby="dropdown02">
                    <a class="dropdown-item" href="#" ui-sref="research-details">НИОКР</a>
                    <a class="dropdown-item" href="#" ui-sref="test-equipments({vendor: 'progress'})">Испытательное оборудование</a>
                </div>
            </li>
        </ul>
    </div>
</nav>