<div class="ui container segment" ng-controller="AddStepDialogController as ctrl">

    <h1>{{ ctrl.update ? 'Редактирование' : 'Добавление' }} этапа</h1>

    <div class="content">
        <form class="ui form">

            <div class="required field">
                <label>Номер этапа (число)</label>
                <input type="number" min="1" step="1" ng-model="ctrl.step.number">
            </div>

            <div class="required field">
                <label>Название</label>
                <input type="text" ng-model="ctrl.step.name">
            </div>

            <div class="required field">
                <label>Срок выполнения</label>
                <input type="date" min="1" step="1" ng-model="ctrl.step.expirationDate">
            </div>

            <div class="field" ng-if="ctrl.update">
                <div class="ui checkbox">
                    <input type="checkbox" ng-model="ctrl.step.done">
                    <label>Выполнен</label>
                </div>
            </div>

            <div class="ui black deny button" ng-click="ctrl.onCancel()">
                Отмена
            </div>

            <div class="ui positive right labeled icon button" ng-click="ctrl.onSave()">
                Сохранить
                <i class="checkmark icon"></i>
            </div>

            <div class="ui red button" ng-if="ctrl.update" ng-click="ctrl.onDelete()">
                Удалить
            </div>

        </form>
    </div>
</div>