<div class="ui large breadcrumb">
    <a class="section" ui-sref="research-details">НИОКР</a>
    <i class="right chevron icon divider"></i>
</div>

<div class="ui segment">

    <form class="ui form">

        <div class="field">
            <label>Название</label>
            <input type="text" ng-model="ctrl.researchDetail.name">
        </div>

        <div class="field">
            <label>Исполнитель</label>
            <textarea rows="2" ng-model="ctrl.researchDetail.vendor"></textarea>
        </div>

        <div class="field">
            <label>Генеральный заказчик</label>
            <textarea rows="2" ng-model="ctrl.researchDetail.customer"></textarea>
        </div>

        <div class="field">
            <label>Предприятие, являющееся головным</label>
            <textarea rows="2" ng-model="ctrl.researchDetail.head"></textarea>
        </div>

        <div class="field">
            <label>Договор</label>
            <textarea rows="2" ng-model="ctrl.researchDetail.contract"></textarea>
        </div>

        <div class="field">
            <label>Техзадание</label>
            <textarea rows="2" ng-model="ctrl.researchDetail.requirements"></textarea>
        </div>

        <div class="fields">
            <div class="field">
                <div class="ui positive right labeled icon button" ng-click="ctrl.onUpdate()">
                    Обновить
                    <i class="checkmark icon"></i>
                </div>
            </div>

            <div class="field">
                <div class="ui red button" ng-click="ctrl.onDelete()">
                    Удалить
                </div>
            </div>
        </div>
    </form>
</div>

<files object="ctrl.researchDetail"></files>

<div class="ui divider"></div>

<div class="ui form">
    <div class="fields">
        <div class="fourteen wide field">
            <div class="ui huge header">Этапы</div>
        </div>

        <div class="two wide field">

            <button class="ui labeled icon positive mini button" ng-click="ctrl.addStep('createStepModal');">
                <i class="plus icon"></i>
                Добавить
            </button>

        </div>
    </div>
</div>

<div class="ui form">
    <div class="fields">
        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" ng-click="ctrl.toggleDone()">
                <label>Скрыть выполненные</label>
            </div>
        </div>
    </div>
</div>

<table class="ui selectable striped celled table">
    <thead>
        <tr>
            <th>Номер этапа</th>
            <th>Название</th>
            <th>Срок выполнения</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="step in ctrl.researchDetail.steps | filter: ctrl.stepFilter | orderBy: 'number' track by $index" ng-click="ctrl.updateStep(step);">
            <td>{{step.number}}</td>
            <td>{{step.name}}</td>
            <td>{{step.expirationDate | date: 'dd-MM-yyyy'}}

                <a class="ui {{ctrl.nf.getBadgeType(step)}} label" style="float: right" ng-if="!step.done && ctrl.nf.getBadgeType(step) !== 'green'">
                    {{ctrl.nf.getBadgeText(step)}}
                </a>

                <a class="ui green label" style="float: right" ng-if="step.done">
                    Выполнен
                </a>

            </td>
        </tr>
    </tbody>
</table>