<div class="ui large breadcrumb">
    <a class="section" ui-sref="research-details">НИОКР</a>
    <i class="right chevron icon divider"></i>
</div>

<div class="ui segment">

    <form class="ui form">

        <div class="field">
            <label>Техзадание</label>
            <textarea rows="2" ng-model="ctrl.researchDetail.requirements"></textarea>
        </div>

        <div class="field">
            <label>Договор</label>
            <textarea rows="2" ng-model="ctrl.researchDetail.contract"></textarea>
        </div>

        <div class="fields">
            <div class="field">
                <div class="ui positive right labeled icon button" ng-click="ctrl.onUpdate()">
                    Обновить
                    <i class="checkmark icon"></i>
                </div>
            </div>

            <div class="field">
                <div class="ui red button" ng-click="ctrl.onDelete()">
                    Удалить
                </div>
            </div>
        </div>
    </form>
</div>

<!--<form class="form-horizontal col-sm-12 form-control" role="form">
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="col-md-12" for="name">
                Техзадание
            </label>
            <div class="col-md-12">
                <textarea type="text" class="form-control" id="name"
                          ng-model="ctrl.researchDetail.requirements"></textarea>
            </div>
        </div>
        <div class="col-md-6 form-group">
            <label class="col-md-12" for="designation">
                Договор
            </label>
            <div class="col-md-12">
                <textarea type="text" class="form-control" id="designation"
                          ng-model="ctrl.researchDetail.contract"></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <div class="col-sm-12">
                <button type="button" ng-click="ctrl.onUpdate()" class="btn btn-success">Обновить</button>
                <button type="button" ng-click="ctrl.onDelete()" class="btn btn-danger ml-auto">Удалить</button>
            </div>
        </div>
    </div>

    <div id="updateAlert" class="alert alert-success slideAnimation" ng-if="ctrl.showAlert" role="alert">
        <strong>НИОКР обновлен!</strong>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <div class="col-sm-12">
                <files object="ctrl.researchDetail"></files>
            </div>
        </div>
    </div>

</form>

<hr>-->

<div class="ui divider"></div>

<div class="ui form">
    <div class="fields">
        <div class="fourteen wide field">
            <div class="ui huge header">Этапы</div>
        </div>

        <div class="two wide field">

            <button class="ui labeled icon positive mini button"
                    ng-click="ctrl.addStep('createStepModal');">
                <i class="plus icon"></i>
                Добавить
            </button>

        </div>
    </div>
</div>

<table class="ui selectable striped celled table">
    <thead>
        <tr>
            <th>Номер этапа</th>
            <th>Название</th>
            <th>Срок выполнения</th>
            <th>Отметка</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="step in ctrl.researchDetail.steps track by $index"
            ng-click="ctrl.updateStep(step, 'createStepModal');">
            <td>{{step.number}}</td>
            <td>{{step.name}}</td>
            <td>{{step.expirationDate | date: 'dd-MM-yyyy'}}</td>
            <td>
                <a class="ui label" ng-class="ctrl.nf.getBadgeType(step)">{{ctrl.nf.getBadgeText(step)}}</a>
            </td>
        </tr>
    </tbody>
</table>

<div class="ui modal" id="createStepModal">
    <i class="close icon"></i>
    <div class="header">
        Этап
    </div>

    <div class="content">
        <form class="ui form">
            <div class="required field">
                <label>Номер этапа (число)</label>
                <input type="text" ng-model="ctrl.currentStep.number">
            </div>

            <div class="required field">
                <label>Название</label>
                <input type="text" ng-model="ctrl.currentStep.name">
            </div>

            <div class="required field">
                <label>Срок выполнения</label>
                <input type="date" min="1" step="1" ng-model="ctrl.currentStep.expirationDate">
            </div>
        </form>
    </div>

    <div class="actions">
        <div class="ui red button" ng-if="ctrl.update" ng-click="ctrl.deleteStep()">
            Удалить
        </div>

        <div class="ui deny black button" ng-if="!ctrl.update">
            Отмена
        </div>

        <div class="ui positive right labeled icon button" ng-click="ctrl.saveStep()">
            Сохранить
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>