<div class="item__inner-header" ng-click="detailContractsCtrl.toggle()">Контракты</div>

<div class="item__table-wrapper tableAnimation" ng-if="detailContractsCtrl.opened">
    <table class="item__table" id="{{detailContractsCtrl.detail.uuid + '-table'}}">
        <tr class="item__table-header">
            <td class="item__table-header-cell">Договор</td>
            <td class="item__table-header-cell">Заказчик</td>
            <td class="item__table-header-cell">Кол-во изделий</td>
            <td class="item__table-header-cell">Квартал</td>
            <td class="item__table-header-cell">Год</td>
            <td class="item__table-header-cell">Отм. об аванс</td>
            <td class="item__table-header-cell">Выполнено</td>
            <td class="item__table-header-cell">Удалить</td>
        </tr>

        <tr class="item__table-row"
            ng-repeat="contract in detailContractsCtrl.detail.contracts"
            ng-class="'{{detailContractsCtrl.contractStatus(contract)}}'"
            ng-click="detailContractsCtrl.editContract(contract)">

            <td class="item__table-cell" ng-class="{'_contract-done': contract.isDone}">{{contract.agreement}}</td>
            <td class="item__table-cell">{{contract.customer}}</td>
            <td class="item__table-cell">{{contract.amount}}</td>
            <td class="item__table-cell">{{contract.quoter}}</td>
            <td class="item__table-cell">{{contract.year}}</td>
            <td class="item__table-cell">{{contract.prepaidNote}}</td>
            <td class="item__table-cell">
                <span class="item__table-cell-done"
                      ng-click="detailContractsCtrl.setDone(contract); $event.stopPropagation();"></span>
            </td>
            <td class="item__table-cell">
                <span class="item__table-cell-delete"
                      ng-click="detailContractsCtrl.deleteContract(contract); $event.stopPropagation();">X</span>
            </td>
        </tr>
    </table>

    <div class="detail-contract__add" ng-click="detailContractsCtrl.addContract()">Добавить контракт</div>
</div>