<div ui-calendar="ctrl.uiConfig.calendar" ng-model="ctrl.eventSources"></div>

<!--Create event modal-->
<div class="modal fade" id="createEventModal" tabindex="-1" role="dialog" aria-labelledby="createEventModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createEventModalLabel">Добавление события ({{ctrl.currentDate | date: "dd/MM/yyyy"}})</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2" for="inputTitle">
                            Название
                        </label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="inputTitle" ng-model="ctrl.eventTitle">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2" for="inputComment">
                            Комментарий
                        </label>
                        <div class="col-sm-12">
                            <textarea type="text" class="form-control" id="inputComment" ng-model="ctrl.eventComment"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-success" ng-click="ctrl.save()">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<!--Detailed event modal-->
<div class="modal fade" id="detailedEventModal" tabindex="-1" role="dialog" aria-labelledby="detailedEventModalLable" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailedEventModalLable">Просмотр события ({{ctrl.currentDate | date: "dd/MM/yyyy"}})</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2" for="inputTitle">
                            Название
                        </label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="updateTitle" ng-model="ctrl.currentEvent.title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2" for="inputComment">
                            Комментарий
                        </label>
                        <div class="col-sm-12">
                            <textarea type="text" class="form-control" id="updateComment" ng-model="ctrl.currentEvent.comment"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" ng-if="!ctrl.currentEvent.custom">
                <button type="button" class="btn btn-danger" ng-click="ctrl.delete()">Удалить</button>
                <button type="button" class="btn btn-success" ng-click="ctrl.update()">Обновить</button>
            </div>
        </div>
    </div>
</div>