<div class="ui segment">
    <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar" id="calendar">
    </div>
</div>

<div class="ui modal" id="createEventModal">
    <i class="close icon"></i>
    <div class="header">
        Событие ({{ctrl.currentEvent.date | date: "dd-MM-yyyy"}})
    </div>

    <div class="content">
        <form class="ui form">
            <div class="required field">
                <label>Название</label>
                <input type="text" ng-model="ctrl.currentEvent.title">
            </div>

            <div class="required field">
                <label>Комментарий</label>
                <textarea row="2" ng-model="ctrl.currentEvent.comment"></textarea>
            </div>
        </form>
    </div>

    <div class="actions" ng-if="ctrl.currentEvent.custom">
        <button class="ui right labeled icon button" ng-if="ctrl.currentEvent.custom" ng-click="ctrl.go(ctrl.currentEvent.link)">
            <i class="right arrow icon"></i>
            {{ctrl.currentEvent.linkText}}
        </button>
    </div>

    <div class="actions" ng-if="!ctrl.currentEvent.custom">
        <div class="ui red button" ng-if="ctrl.update" ng-click="ctrl.delete()">
            Удалить
        </div>

        <div class="ui deny black button">
            Отмена
        </div>

        <div class="ui positive right labeled icon button" ng-click="ctrl.save()">
            Сохранить
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>