<div class="ui container segment" ng-controller="AddAccessoryDialogController as ctrl">

    <form class="ui form">
        <div class="required field">
            <label>Наименование</label>
            <input type="text" ng-model="ctrl.accessory.name">
        </div>

        <div class="required field">
            <label>Обозначение основных КД, ТД, стандартов и ТУ</label>
            <input type="text" ng-model="ctrl.accessory.designation">
        </div>

        <div class="ui deny black button" ng-click="ctrl.onCancel()">
            Отмена
        </div>

        <div class="ui positive right labeled icon button" ng-click="ctrl.onSave()">
            Сохранить
            <i class="checkmark icon"></i>
        </div>

        <div class="ui red button" ng-if="ctrl.update" ng-click="ctrl.onDelete()">
            Удалить
        </div>
    </form>
</div>