<div class="dialog-add jsPopup" ng-controller="AddAccessoryDialogController as addAccessoryDialogCtrl">
    <div class="dialog-add__header">
        Добавление комплектующего
    </div>

    <div class="dialog-add__body">
        <div class="dialog-add__control">
            <input class="input" type="text" ng-model="addAccessoryDialogCtrl.name" placeholder="Наименование">
        </div>

        <div class="dialog-add__control">
            <input class="input" type="text" ng-model="addAccessoryDialogCtrl.designation" placeholder="Обозначение">
        </div>
    </div>

    <div class="dialog-add__actions">
        <div class="dialog-add__actions-button _save"
             ng-click="addAccessoryDialogCtrl.onSave()">Сохранить</div>

        <div class="dialog-add__actions-button _cancel"
             ng-click="addAccessoryDialogCtrl.onCancel()">Отмена</div>
    </div>
</div>