<div class="detail-contract">
    <div class="detail-contract__row">
        <div class="detail-contract__col">{{detailContractCtrl.contract.agreement}}</div>
        <div class="detail-contract__col">{{detailContractCtrl.contract.customer}}</div>
        <div class="detail-contract__col">{{detailContractCtrl.contract.amount}}</div>
        <div class="detail-contract__col">{{detailContractCtrl.contract.quoter}}</div>
        <div class="detail-contract__col">{{detailContractCtrl.contract.year}}</div>
        <div class="detail-contract__col">{{detailContractCtrl.contract.prepaidNote}}</div>
    </div>
</div>