<tr class="item__table-row"
    ng-class="'{{detailContractCtrl.contractStatus(contract)}}'"
    ng-click="detailContractCtrl.editContract(contract)">

    <td class="item__table-body-cell">{{detailContractCtrl.contract.agreement}}</td>
    <td class="item__table-body-cell">{{detailContractCtrl.contract.customer}}</td>
    <td class="item__table-body-cell">{{detailContractCtrl.contract.amount}}</td>
    <td class="item__table-body-cell">{{detailContractCtrl.contract.quoter}}</td>
    <td class="item__table-body-cell">{{detailContractCtrl.contract.year}}</td>
    <td class="item__table-body-cell">{{detailContractCtrl.contract.prepaidNote}}</td>
</tr>
