<div class="dialog-add jsPopup" ng-controller="AddEventDialogController as addEventDialogCtrl">
    <div class="dialog-add__header">
        Добавление события
    </div>

    <div class="dialog-add__body">
        <div class="dialog-add__control">
            <input class="input" type="text" ng-model="addEventDialogCtrl.title" placeholder="Введите название">
        </div>

        <div class="dialog-add__control">
            <input class="input" type="date" ng-model="addEventDialogCtrl.date" placeholder="Введите дату">
        </div>

        <div class="dialog-add__control">
            <textarea class="input _area" type="text" ng-model="addEventDialogCtrl.comment" placeholder="Введите комментарий"></textarea>
        </div>

    </div>

    <div class="dialog-add__actions">
        <div class="dialog-add__actions-button _save"
             ng-click="addEventDialogCtrl.onSave()">Сохранить</div>

        <div class="dialog-add__actions-button _cancel"
             ng-click="addEventDialogCtrl.onCancel()">Отмена</div>
    </div>
</div>