<div class="ui form">
    <div class="fields">
        <div class="field">
            <button class="ui labeled icon positive button" ng-click="ctrl.onAdd()">
                <i class="add circle icon"></i>
                Добавить испытательное оборудование
            </button>
        </div>
    </div>
</div>

<div class="ui input">
    <input type="text" placeholder="Поиск" ng-model="ctrl.searchStr">
  </div>

<table class="ui selectable striped celled table">
    <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Заводской номер</th>
            <th>Тип</th>
            <th>Дата истечения срока аттестации</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="testEquipment in ctrl.storage.testEquipments | filter: { vendor: ctrl.vendor, name: ctrl.searchStr } | orderBy: 'name' track by $index" ng-click="ctrl.onClick(testEquipment, $event)">
            <td>{{$index + 1}}</td>
            <td>{{testEquipment.name}}</td>
            <td>{{testEquipment.number}}</td>
            <td>{{testEquipment.type}}</td>
            <td>{{testEquipment.expirationDate | date: 'dd-MM-yyyy'}}
                <a class="ui label" style="float: right" ng-class="ctrl.nf.getBadgeType(testEquipment)">{{ctrl.nf.getBadgeText(testEquipment)}}</a>
            </td>
        </tr>
    </tbody>
</table>