<div class="login-landing">

    <div class="login-landing__form">
        <div class="login-landing__form-input">
            <input class="input" type="text" placeholder="Введите логин" ng-model="loginLandingCtrl.name">
        </div>

        <div class="login-landing__form-input">
            <input class="input" type="password" placeholder="Введите пароль" ng-model="loginLandingCtrl.password">
        </div>

        <div class="login-landing__form-button" ng-click="loginLandingCtrl.login()">Войти</div>

    </div>
</div>