<form>
    <div class="form-group d-flex">
        <button type="button" class="btn btn-success" ng-click="ctrl.onAdd()">Добавить виброизолятор</button>
        <button type="button" class="btn btn-info ml-auto" ng-click="ctrl.onPrint()">Печать ({{ctrl.print.length}})</button>
    </div>
</form>

<table class="table table-hover">
    <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Обозначение</th>
            <th>Дата истечения строка</th>
            <th>Контрактов</th>
            <th>Отметка</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="damper in ctrl.storage.dampers track by $index" ng-style="ctrl.inPrint(damper.uuid) && {'font-weight': 'bolder', 'text-decoration': 'underline'}" ng-click="ctrl.onClick(damper, $event)">
            <th>{{$index + 1}}</th>
            <td>{{damper.name}}</td>
            <td>{{damper.designation}}</td>
            <td>{{damper.expirationDate | date: 'dd-MM-yyyy'}}</td>
            <td>{{damper.contracts.length}}</td>
            <td>
                <span class="badge badge-{{ctrl.nf.getBadgeType(damper)}}">{{ctrl.nf.getBadgeText(damper)}}</span>
            </td>
        </tr>
    </tbody>
</table>

<div class="modal fade" id="createDamperModal" tabindex="-1" role="dialog" aria-labelledby="createDamperModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createDamperModalLabel">Добавление виброизолятора</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">

                    <div class="form-group">
                        <label class="col-sm-12" for="name">
                            Наименование, обозначение
                        </label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="name" ng-model="ctrl.name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-12" for="designation">
                            Обозначение КД
                        </label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="designation" ng-model="ctrl.designation">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-12" for="expirationDate">
                            Дата истечения срока действия ПИ
                        </label>
                        <div class="col-sm-12">
                            <input type="date" class="form-control" id="expirationDate" ng-model="ctrl.expirationDate">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-12" for="inspectionMethods">
                            Состав контролируемых параметров изделий
                        </label>
                        <div class="col-sm-12">
                            <textarea type="text" class="form-control" id="inspectionMethods" ng-model="ctrl.inspectionMethods"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-12" for="controlType">
                            Вид контроля, объем выборки, контрольные нормативы и правила выборочного контроля
                        </label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="controlType" ng-model="ctrl.controlType">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-12" for="measurementMeans">
                            Средства измерений необходимые для контроля параметров изделий
                        </label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="measurementMeans" ng-model="ctrl.measurementMeans">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-12" for="guarantee">
                            Гарантийный срок хранения
                        </label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="guarantee" ng-model="ctrl.guarantee">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-12" for="fiatLabeling">
                            Указания о маркировке изделий по результатам входного контроля
                        </label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="fiatLabeling" ng-model="ctrl.fiatLabeling">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-12" for="note">
                            Примечание
                        </label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="note" ng-model="ctrl.note">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-success" ng-click="ctrl.save()">Добавить</button>
            </div>
        </div>
    </div>
</div>