<div class="ui form">
    <div class="fields">
        <div class="field">
            <button class="ui labeled icon positive button" ng-click="ctrl.onAdd()">
                <i class="add circle icon"></i>
                Добавить виброизолятор
            </button>
        </div>
    </div>
</div>

<div class="ui input">
    <input type="text" placeholder="Поиск" ng-model="ctrl.searchStr">
  </div>

<table class="ui selectable striped celled table">

    <thead>
        <tr>
            <th>#</th>
            <th ng-click="ctrl.order = name">Наименование</th>
            <th>Обозначение КД</th>
            <th>Срок действия ПИ</th>
            <th>Договоров</th>
            <th>Отметка</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="damper in ctrl.storage.dampers | filter: { name : ctrl.searchStr } | orderBy: 'name' track by $index" ng-class="{'active': ctrl.inPrint(damper.uuid)}" ng-click="ctrl.onClick(damper, $event)">

            <td>{{$index + 1}}</td>
            <td>{{damper.name}}</td>
            <td>{{damper.designation}}</td>
            <td>{{damper.expirationDate | date: 'dd-MM-yyyy'}}</td>
            <td>{{damper.contracts.length}}</td>
            <td>
                <a class="ui label" ng-class="ctrl.nf.getBadgeType(damper)">
                {{ctrl.nf.getBadgeText(damper)}}
            </a>
            </td>
        </tr>
    </tbody>
</table>

<div class="ui modal" id="createDamperModal">
    <i class="close icon"></i>
    <div class="header">
        Добавление виброизолятора
    </div>

    <div class="content">

        <div class="ui error message slideAnimation" ng-if="ctrl.error">
            <i class="close icon" ng-click="ctrl.error = false;"></i>
            <div class="header">
                Пожалуйста, заполните обязательные поля:
            </div>
            <ul class="list">
                <li>Наименование</li>
                <li>Обозначение КД</li>
                <li>Дата истечения срока действия ПИ</li>
            </ul>
        </div>

        <form class="ui form">
            <div class="required field">
                <label>Наименование</label>
                <input type="text" ng-model="ctrl.name">
            </div>

            <div class="required field">
                <label>Обозначение КД</label>
                <input type="text" ng-model="ctrl.designation">
            </div>

            <div class="required field">
                <label>Дата истечения срока действия ПИ</label>
                <input type="date" ng-model="ctrl.expirationDate">
            </div>
        </form>
    </div>

    <div class="actions">
        <div class="ui black deny button" ng-click="ctrl.onCancel()">
            Отмена
        </div>
        <div class="ui positive right labeled icon button" ng-click="ctrl.save()">
            Сохранить
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>