<div class="dialog-add jsPopup" ng-controller="EditContractDialogController as editContractDialogCtrl">
    <div class="dialog-add__header">
        Редактирование контракта
    </div>

    <div class="dialog-add__body">
        <div class="dialog-add__control">
            <input class="input" type="text" ng-model="editContractDialogCtrl.contract.agreement" placeholder="Договор поставки, доп. соглашение">
        </div>

        <div class="dialog-add__control">
            <input class="input" type="text" ng-model="editContractDialogCtrl.contract.customer" placeholder="Заказчик">
        </div>

        <div class="dialog-add__control">
            <input class="input" type="number" ng-model="editContractDialogCtrl.contract.amount" placeholder="Количество изделий">
        </div>

        <div class="dialog-add__control">
            <input class="input" type="number" ng-model="editContractDialogCtrl.contract.quoter" min="1" max="4" placeholder="Квартал">
        </div>

        <div class="dialog-add__control">
            <input class="input" type="number" ng-model="editContractDialogCtrl.contract.year" placeholder="Год">
        </div>

        <div class="dialog-add__control">
            <input class="input" type="text" ng-model="editContractDialogCtrl.contract.prepaidNote" placeholder="Отметка об авансировании">
        </div>
    </div>

    <div class="dialog-add__actions">
        <div class="dialog-add__actions-button _save"
             ng-click="editContractDialogCtrl.onSave()">Сохранить</div>

        <div class="dialog-add__actions-button _cancel"
             ng-click="editContractDialogCtrl.onCancel()">Отмена</div>
    </div>
</div>