<div class="ui form">
    <div class="fields">

        <div class="field">
            <div class="ui labeled button" tabindex="0" ng-click="ctrl.onPrint()">
                <div class="ui basic blue button">
                    <i class="print icon"></i> Печать
                </div>
                <a class="ui basic left pointing blue label">
                    {{ctrl.printArray.length}}
                </a>
            </div>
        </div>
    </div>
</div>

<h2>Печать {{ctrl.type === 'list' ? 'перечня' : 'номенклатуры'}}</h2>

<h3>Виброизоляторы</h3>
<table class="ui selectable striped celled table">

    <thead>
    <tr>
        <th>#</th>
        <th>Название</th>
        <th>Обозначение</th>
        <th>Срок действия ПИ</th>
        <th>Договоров</th>
        <th>Отметка</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="damper in ctrl.dampersFactory.dampers track by $index"
        ng-class="{'active': ctrl.inPrint(damper.uuid)}"
        ng-click="ctrl.onClick(damper, $event)">

        <td>{{$index + 1}}</td>
        <td>{{damper.name}}</td>
        <td>{{damper.designation}}</td>
        <td>{{damper.expirationDate | date: 'dd-MM-yyyy'}}</td>
        <td>{{damper.contracts.length}}</td>
        <td>
            <a class="ui label"
               ng-class="ctrl.nf.getBadgeType(damper)">
                {{ctrl.nf.getBadgeText(damper)}}
            </a>
        </td>
    </tr>
    </tbody>
</table>

<h3 ng-if="ctrl.type === 'nomenclature'">НИОКР</h3>
<table class="ui selectable striped celled table" ng-if="ctrl.type === 'nomenclature'">
    <thead>
    <tr>
        <th>#</th>
        <th>Название</th>
        <th>Этапов</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="researchDetail in ctrl.researchDetailsFactory.researchDetails"
        ng-class="{'active': ctrl.inPrint(researchDetail.uuid)}"
        ng-click="ctrl.onClick(researchDetail, $event)">
        <td>{{$index + 1}}</td>
        <td>{{researchDetail.name}}</td>
        <td>{{researchDetail.steps.length}}</td>
    </tr>
    </tbody>
</table>
