.floating-button {
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #2196F3;
    bottom: 100px;
    right: 100px;

    box-shadow: 1px 1px 5px black;
    cursor: pointer;

    &:after {
        position: absolute;
        top: 28px;
        left: 20px;
        content: "";
        width: 20px;
        height: 4px;
        background-color: white;
    }

    &:before {
        position: absolute;
        top: 28px;
        left: 20px;
        content: "";
        width: 20px;
        height: 4px;
        background-color: white;
        transform: rotate(90deg);
    }
}