<div class="dialog-add jsPopup" ng-controller="AddDetailDialogController as addDetailDialogCtrl">
    <div class="dialog-add__header">
        Добавление виброизолятора
    </div>

    <div class="dialog-add__body">
        <div class="dialog-add__control">
            <input class="input" type="text" ng-model="addDetailDialogCtrl.name" placeholder="Наименование">
        </div>

        <div class="dialog-add__control">
            <input class="input" type="text" ng-model="addDetailDialogCtrl.description" placeholder="Обозначение КД">
        </div>

        <div class="dialog-add__control">
            <label>Срок действия ПИ</label>
            <input class="input" type="date" ng-model="addDetailDialogCtrl.expirationDate" placeholder="Срок действия ПИ">
        </div>

    </div>

    <div class="dialog-add__actions">
        <div class="dialog-add__actions-button _save"
             ng-click="addDetailDialogCtrl.onSave()">Сохранить</div>

        <div class="dialog-add__actions-button _cancel"
             ng-click="addDetailDialogCtrl.onCancel()">Отмена</div>
    </div>
</div>