<div class="dialog-add jsPopup" ng-controller="AddDetailDialogController as addDetailDialogCtrl">
    <div class="dialog-add__header">
        Добавление виброизолятора
    </div>

    <div class="dialog-add__body">
        <div class="dialog-add__control">
            <input class="input" type="text" ng-model="addDetailDialogCtrl.name" placeholder="Наименование">
        </div>

        <div class="dialog-add__control">
            <input class="input" type="text" ng-model="addDetailDialogCtrl.description" placeholder="Обозначение КД">
        </div>

        <div class="dialog-add__control">
            <label>Срок действия ПИ</label>
            <input class="input" type="date" ng-model="addDetailDialogCtrl.expirationDate" placeholder="Срок действия ПИ">
        </div>

        <div class="dialog-add__control">
            <input class="input" type="text" ng-model="addDetailDialogCtrl.inspectionMethods" placeholder="Состав контролируемых изделий, методов их проверки">
        </div>

        <div class="dialog-add__control">
            <input class="input" type="text" ng-model="addDetailDialogCtrl.controlType" placeholder="Вид контроля">
        </div>

        <div class="dialog-add__control">
            <input class="input" type="text" ng-model="addDetailDialogCtrl.meansMeasurement" placeholder="Необходимые средства измерений">
        </div>

        <div class="dialog-add__control">
            <input class="input" type="text" ng-model="addDetailDialogCtrl.guarantee" placeholder="Гарантийный срок хранения">
        </div>

        <div class="dialog-add__control">
            <input class="input" type="text" ng-model="addDetailDialogCtrl.fiatLabeling" placeholder="Указания о маркировке изделий">
        </div>

        <div class="dialog-add__control">
            <input class="input" type="text" ng-model="addDetailDialogCtrl.note" placeholder="Примечание">
        </div>

    </div>

    <div class="dialog-add__actions">
        <div class="dialog-add__actions-button _save"
             ng-click="addDetailDialogCtrl.onSave()">Сохранить</div>

        <div class="dialog-add__actions-button _cancel"
             ng-click="addDetailDialogCtrl.onCancel()">Отмена</div>
    </div>
</div>