<div class="ui compact menu" ng-if="ctrl.storage.notifications.length">
    <a class="item"
       ng-class="{'active': type === ctrl.currentType}"
       ng-click="ctrl.setType('')">
        Все
        <div class="ui red label">{{ctrl.storage.notifications.length}}</div>
    </a>

    <a class="item"
       ng-class="{'active': type === ctrl.currentType}"
       ng-repeat="type in ctrl.storage.types track by $index"
       ng-click="ctrl.setType(type)">

        {{type.name}}
        <div class="ui teal  label">{{ctrl.getNumberOfNotificationsByType(type.designation)}}</div>
    </a>
</div>

<div class="ui divider"></div>

<table class="ui selectable compact table">
    <tbody>
        <tr ng-repeat="n in ctrl.storage.notifications | filter: ctrl.typeFilter" ng-class="ctrl.getRowClass(n);">
            <td>
                <i class="warning sign icon" ng-if="ctrl.getRowClass(n) === 'negative'"></i>

                {{n.title}}
            </td>

            <td>{{n.text}}</td>

            <td>
                <a href="#/{{n.link}}">
                    {{n.linkText}}
                </a>
            </td>

        </tr>
    </tbody>
</table>
