<table class="ui selectable table">
    <thead>
    <tr>
        <th>Тип уведомления</th>
        <th>Количество</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-click="ctrl.setType('')">
        <td>Все</td>
        <td>{{ctrl.storage.notifications.length}}</td>
    </tr>

    <tr ng-repeat="type in ctrl.storage.types"
        ng-click="ctrl.setType(type)"
        ng-class="{'active': type === ctrl.currentType}">

        <td>{{type.name}}</td>
        <td>{{ctrl.getNumberOfNotificationsByType(type.designation)}}</td>
    </tr>
    </tbody>
</table>

<div class="ui divider"></div>

<table class="ui selectable compact table">
    <tbody>
        <tr ng-repeat="n in ctrl.storage.notifications | filter: ctrl.typeFilter" ng-class="ctrl.getRowClass(n);">
            <td>{{n.title}}</td>

            <td>{{n.text}}</td>

            <td>
                <a href="#/{{n.link}}">
                    {{n.linkText}}
                </a>
            </td>

        </tr>
    </tbody>
</table>

<!--<div class="ui cards">
    <div class="card"
         ng-repeat="n in ctrl.storage.notifications | filter: ctrl.typeFilter">
        <div class="header">
            {{n.title}}
        </div>
        <div class="meta">
            <a href="#/{{n.link}}">
                {{n.linkText}}
            </a>
        </div>
        <div class="description">
            {{n.text}}
        </div>
    </div>
</div>-->

<!--

<div class="alert alert-{{ctrl.getNotificationAlertType(n)}} col-md-12" role="alert"
     ng-repeat="n in ctrl.storage.notifications | filter: ctrl.typeFilter">

    <h4 class="alert-heading">{{n.title}}</h4>

    <a href="#/{{n.link}}" class="alert-link">
        {{n.linkText}}
    </a>

    <p>{{n.text}}</p>
</div>
-->
