<div class="ui large breadcrumb">
    <a class="section"
       ui-sref="test-equipments({vendor: ctrl.testEquipment.vendor})">Испытательное оборудование</a>
    <i class="right chevron icon divider"></i>
    <div class="active section">{{ctrl.testEquipment.name}}</div>
</div>

<div class="ui segment">
    <form class="ui form">

        <div class="field">
            <label>Название</label>
            <input type="text" ng-model="ctrl.testEquipment.name">
        </div>

        <div class="field">
            <label>Тип</label>
            <input type="text" ng-model="ctrl.testEquipment.type">
        </div>

        <div class="field">
            <label>Дата истечения срока</label>
            <input type="date" ng-model="ctrl.testEquipment.expirationDate">
        </div>

        <div class="field">
            <label>Заводской номер</label>
            <input type="text" ng-model="ctrl.testEquipment.number">
        </div>

        <div class="fields">
            <div class="field">
                <div class="ui positive right labeled icon button" ng-click="ctrl.onUpdate()">
                    Обновить
                    <i class="checkmark icon"></i>
                </div>
            </div>

            <div class="field">
                <div class="ui red button" ng-click="ctrl.onDelete()">
                    Удалить
                </div>
            </div>
        </div>
    </form>
</div>

<files object="ctrl.testEquipment"></files>
<!--

<form class="form-horizontal col-sm-12 form-control" role="form">
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="col-sm-12" for="name">
                Название
            </label>
            <div class="col-sm-12">
                <input type="text" class="form-control" id="name" ng-model="ctrl.testEquipment.name">
            </div>
        </div>
        <div class="col-md-6 form-group">
            <label class="col-sm-12" for="designation">
                Тип
            </label>
            <div class="col-sm-12">
                <input type="text" class="form-control" id="designation" ng-model="ctrl.testEquipment.type">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <label class="col-sm-12" for="expirationDate">
                Дата истечения срока
            </label>
            <div class="col-sm-12">
                <input type="date" class="form-control" id="expirationDate"
                       ng-model="ctrl.testEquipment.expirationDate">
            </div>
        </div>
        <div class="col-md-6 form-group">
            <label class="col-sm-12" for="number">
                Заводской номер
            </label>
            <div class="col-sm-12">
                <input type="text" class="form-control" id="number" ng-model="ctrl.testEquipment.number">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <div class="col-sm-12">
                <button type="button" ng-click="ctrl.onUpdate()" class="btn btn-success">Обновить</button>
                <button type="button" ng-click="ctrl.onDelete()" class="btn btn-danger ml-auto">Удалить</button>
            </div>
        </div>
    </div>

    <div id="updateAlert" class="alert alert-success slideAnimation" ng-if="ctrl.showAlert" role="alert">
        <strong>Испытательное оборудование обновлено!</strong>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <div class="col-sm-12">
                <files object="ctrl.testEquipment"></files>
            </div>
        </div>
    </div>
</form>-->
