<div class="ui form">
    <div class="fields">
        <div class="field">
            <button class="ui labeled icon positive button" ng-click="ctrl.onAdd()">
                <i class="add circle icon"></i>
                Добавить НИОКР
            </button>
        </div>
    </div>
</div>

<div class="ui input">
    <input type="text" placeholder="Поиск" ng-model="ctrl.searchStr">
  </div>

<table class="ui selectable striped celled table">
    <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Этапов</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="researchDetail in ctrl.storage.researchDetails | filter: { name: ctrl.searchStr } | orderBy: 'name' track by $index" ng-click="ctrl.onClick(researchDetail, $event)">
            <td>{{$index + 1}}</td>
            <td>{{researchDetail.name}}</td>
            <td>{{researchDetail.steps.length}}</td>
        </tr>
    </tbody>
</table>

<div class="ui modal" id="createResearchDetailModal">
    <i class="close icon"></i>
    <div class="header">
        Добавление НИОКР
    </div>

    <div class="content">
        <form class="ui form">

            <div class="required field">
                <label>Название</label>
                <input type="text" ng-model="ctrl.name">
            </div>

        </form>
    </div>

    <div class="actions">
        <div class="ui black deny button">
            Отмена
        </div>
        <div class="ui positive right labeled icon button" ng-click="ctrl.save()">
            Сохранить
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>